 *{
    margin: 0;
    padding: 0;
}

.Fonte-Geral {
    font-family: 'Baloo Da 2', cursive;
}

.Force { 
    color: rgb(253, 253, 253);
    font-size: 4em;
}

.Force-Logo { 
    display: inline-flex;
    position: relative;
    top: -10%;
}

 header{

    height: 90px;
    width: 100%;
    background-color: #383849;
}

header > .logo-div {
    margin-left: 10%;
}

header > .logo-div > .logo {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-top: -20px;

}

header > .Hud {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: -20px;
    position: relative;
    top: -105%;
    margin-left: 50%;

}

header > .Hud > a {
    display: inline-flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

header > .Hud > a:hover {
color: rgb(255, 255, 255);
transform: scale(1.2);
text-decoration: underline;
}

@media (max-width: 1060px) {
    header > .Hud > a {
        display: inline-flex;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin-right: 5px;
    }

    }

    @media (max-width: 926px) {
        header > .Hud > a {
            display: inline-flex;
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin-right: 0px;
            
            
        }

        .Force { 
    color: rgb(253, 253, 253);
    font-size: 4em;
}

        header > .Hud {
            color: rgb(255, 255, 255);
            display: inline-block;
            margin-top: -30px;
            position: relative;
            top: -105%;
            margin-left: 50%;
        
        }
    
        }

        @media (max-width: 799px) {
            header > .Hud > a {
                display: none;
            }
        
            }
        
            @media (max-width: 413px) {

    
                header > .Hud {
                    color: rgb(255, 255, 255);
                    display: inline-block;
                    margin-top: -30px;
                    position: relative;
                    top: -105%;
                    margin-left: 50%;
                    display: none;
                
                }
            
                }

                @media (max-width: 340px) {
                    .Force { 
                        color: rgb(255, 255, 255);
                        font-size: 3em;
                    }
                    
                    }

.cont-um {
    background-color: rgba(255, 255, 255, 0.205);
    height: 380px;
    display: block;
}



.containerproj .slider-container .slide {
    
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;

}

.containerproj .slider-container .slide .contentproj { 

    flex:  1 1 350px;
    animation: slideContent .4s linear .4s backwards;

}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translate(-50%);
}

}

.containerproj .slider-container .slide .contentproj h3 {

    font-size: 35px;
    color: #4e4e4e;
    font-family: 'Baloo Da 2', cursive;

}

.containerproj .slider-container .slide .contentproj p {

    font-size: 16px;
    color: white;
    font-family: 'Baloo Da 2', cursive;
    width: 50%;
    height: 10%;    
    background-color: rgba(0, 0, 0, 0.349);
}

.containerproj .slider-container .slide .contentproj .btn-ref {

    margin-top: 10px;
    display: inline-block;
    background: #5c5c5c;
    color: black;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #111111;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
}

.containerproj .slider-container .slide .contentproj .btn-ref:hover {

    background: #747474;
    border: 2px solid #111111;
    color: white;
}

.containerproj .slider-container {
    display: none;
}

.containerproj .slider-container.active {
    display: block;
}

.containerproj .slider-container:nth-child(1) .slide{

    background: url(Imagens/Slider/Reforma.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;

}

.containerproj .slider-container:nth-child(2) .slide{

    background: url(Imagens/Slider/EnergiaSolar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;

}

.containerproj .slider-container:nth-child(3) .slide{

    background: url(Imagens/Slider/PinturaResidencial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;

}

.containerproj #prev,
.containerproj #next{
    
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: white;
    background: #5c5c5c;
    height: 48px;
    width: 48px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproj #prev:hover,
.containerproj #next:hover{
    background: #8a8a8a;
}

.containerproj #prev{
    left: 20px;
}

.containerproj #next{
    right: 20px;
}

@media(max-width: 500px){
    .containerproj #prev{
        top: 50%;
        right: 60%;
    }

        .containerproj #next{
        top: 50%;
        right: 0%;
    }

    .containerproj .slider-container .slide .contentproj p {

        font-size: 16px;
        margin: auto;

    }
    
    .containerproj .slider-container .slide .contentproj h3{

        font-size: 30px;
        text-align: center;

    }

    .containerproj .slider-container .slide .contentproj .btn-ref {
        
        margin-left: 30%;
        margin-bottom: 20%;

    }

}




#porti { 
    margin-left: 8%;
    margin-top: 28%;
}

@media(max-width: 658px){ 

    #porti { 
        margin-left: 8%;
        margin-top: 30%;
    }

}

@media(max-width: 456px){ 

    #porti { 
        margin-left: 8%;
        margin-top: 40%;
    }

}

@media(max-width: 396px){ 

    #porti { 
        margin-left: 8%;
        margin-top: 50%;
    }

}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    font-size: 2em;
    font-weight: bold;
}



footer { 
    background-color: #383849;
    height: 500px;
    width: 100%;
    margin-bottom: 0%;
    padding: 0px;
    display: inline-flex;
    overflow: hidden;
}


.f2 { 
background-color: #383849;
display:block;
height: 100%;
width: 500px;
margin-left: 12%;
margin: auto;
color: white;
margin-top: 20px;
}

.marcaD { 
    margin-top: 15%;
    margin-left: 20%;
    text-decoration: none;
    color: rgb(214, 214, 214);
}

#zap-icon {
    position: fixed;
    top: 86%;
    float: right;
    z-index: 10;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    margin-top:15px;
    margin-bottom: 0px;

}