 
 
 *{
    margin: 0;
    padding: 0;
}

.Fonte-Geral {
    font-family: 'Baloo Da 2', cursive;
}

.Force { 
    color: rgb(253, 253, 253);
    font-size: 4em;
}

.Force-Logo { 
    display: inline-flex;
    position: relative;
    top: -10%;
}

 header{

    height: 90px;
    width: 100%;
    background-color: #383849;
}

header > .logo-div {
    margin-left: 10%;
}

header > .logo-div > .logo {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-top: -20px;

}

header > .Hud {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: -20px;
    position: relative;
    top: -105%;
    margin-left: 50%;

}

header > .Hud > a {
    display: inline-flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

header > .Hud > a:hover {
color: rgb(255, 255, 255);
transform: scale(1.2);
text-decoration: underline;
}

@media (max-width: 1060px) {
    header > .Hud > a {
        display: inline-flex;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin-right: 5px;
    }

    }

    @media (max-width: 926px) {
        header > .Hud > a {
            display: inline-flex;
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin-right: 0px;
            
            
        }

        .Force { 
    color: rgb(253, 253, 253);
    font-size: 4em;
}

        header > .Hud {
            color: rgb(255, 255, 255);
            display: inline-block;
            margin-top: -30px;
            position: relative;
            top: -105%;
            margin-left: 50%;
        
        }
    
        }

        @media (max-width: 799px) {
            header > .Hud > a {
                display: none;
            }
        
            }
        
            @media (max-width: 413px) {

    
                header > .Hud {
                    color: rgb(255, 255, 255);
                    display: inline-block;
                    margin-top: -30px;
                    position: relative;
                    top: -105%;
                    margin-left: 50%;
                    display: none;
                
                }
            
                }

                @media (max-width: 340px) {
                    .Force { 
                        color: rgb(255, 255, 255);
                        font-size: 3em;
                    }
                    
                    }

.cont-um {
    background-color: rgba(255, 255, 255, 0.205);
    height: 380px;
    display: block;
}

.capa {
    height: 100%;
    width: 100%;
    background: url(Imagens/Capa-projeto-alt\(O\).jpg
    );
    background-size: cover;

}


#porti { 
    margin-left: 8%;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    font-size: 2em;
    font-weight: bold;
}



footer { 
    background-color: #383849;
    height: 500px;
    width: 100%;
    margin-bottom: 0%;
    padding: 0px;
    display: inline-flex;
    overflow: hidden;
}


.f2 { 
background-color: #383849;
display:block;
height: 100%;
width: 500px;
margin-left: 12%;
margin: auto;
color: white;
margin-top: 20px;
}

.marcaD { 
    margin-top: 15%;
    margin-left: 20%;
    text-decoration: none;
    color: rgb(214, 214, 214);
}

#zap-icon {
    position: fixed;
    top: 86%;
    float: right;
    z-index: 10;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    margin-top:15px;
    margin-bottom: 0px;

}