* {
    margin: 0;
    padding: 0;
}

header{

    height: 90px;
    width: 100%;
    background-color: #383849;
}

header > .logo-div {
    margin-left: 10%;
}

header > .logo-div > .logo {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-top: -20px;

}

header > .Hud {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: -20px;
    position: relative;
    top: -105%;
    margin-left: 50%;

}

header > .Hud > a {
    display: inline-block;
    text-decoration: none;
    color: rgb(216, 216, 216);
    margin-right: 20px;
}

header > .Hud > a:hover {
color: rgb(255, 255, 255);
transform: scale(1.2);
text-decoration: underline;
}

.cont-um {
    background-color: rgba(0, 0, 0, 0.205);
    height: 570px;
    display: block;
}

.capa {
    height: 100%;
    width: 100%;
    background: url(Imagens/Capa-projeto-alt.jpg
    );
    background-size: cover;

}

.capa > .text {
    position: relative;
    top: 25%;
}

.capa > .text > h3 { 
    position: relative;
}

.capa > .text > h2 { 
    margin-top: 50px;
}

.capa > .text > .h3II { 
    margin-top: 50px;
}

.porti { 
    width: 100%;
    height: 600px;
    background-color: white;
    display: block;
    position: absolute;
}

.porti > .conteiner-um { 
    height: 440px;
    width: 380px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 130px;
    margin-right: 20px;
}

.porti > .conteiner-um > p { 
text-align: center;
margin-top: 50px;
}

.porti > .conteiner-um > .fotoC1 { 

    background-color: red;
    height: 280px;
    width: 380px;
    margin: auto;
    border-radius: 50%;


}

.porti > .conteiner-dois {
    height: 440px;
    width: 380px;
    margin-left: 10px;
    display: inline-block;
    margin-right: 20px;
}

.porti > .conteiner-dois > .fotoC2 { 

    background-color: red;
    height: 280px;
    width: 380px;
    margin: auto;
    border-radius: 50%;


}

.porti > .conteiner_tres { 
    height: 440px;
    width: 380px;
    margin-left: 10px;
    display: inline-block;
    margin-right: 20px;
}

.porti > .conteiner_tres > .fotoC3 { 

    background-color: red;
    height: 280px;
    width: 380px;
    margin: auto;
    border-radius: 50%;

}

.porti2 {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

.porti2 > .conteiner-quatro { 
    height: 440px;
    width: 380px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 50px;
    margin-right: 20px;
}

.porti2 > .conteiner-quatro > .fotoC4 { 

    background-color: red;
    height: 280px;
    width: 380px;
    margin: auto;
    border-radius: 50%;


}

.porti2 > .conteiner-cinco {
    height: 440px;
    width: 380px;
    margin-left: 10px;
    display: inline-block;
    margin-right: 20px;
}

.porti2 > .conteiner-cinco > .fotoC5 { 

    background-color: red;
    height: 280px;
    width: 380px;
    margin: auto;
    border-radius: 50%;


}

.porti2 > .conteiner_seis { 
    height: 440px;
    width: 380px;
    margin-left: 10px;
    display: inline-block;
    margin-right: 20px;
}

.porti2 > .conteiner_seis > .fotoC6 { 

    background-color: red;
    height: 280px;
    width: 380px;
    margin: auto;
    border-radius: 50%;

}

.porti > .conteiner-um > p { 
    text-align: center;
    margin-top: 50px;
    }

    .porti > .conteiner-dois > p { 
        text-align: center;
        margin-top: 50px;
        }

        .porti > .conteiner_tres > p { 
            text-align: center;
            margin-top: 50px;
            }

            .porti2 > .conteiner-quatro > p { 
                text-align: center;
                margin-top: 50px;
                }

                .porti2 > .conteiner-cinco > p { 
                    text-align: center;
                    margin-top: 50px;
                    }

                    .porti2 > .conteiner_seis > p { 
                        text-align: center;
                        margin-top: 50px;
                        }

footer { 
    background-color: #383849;
    height: 500px;
    width: 100%;
    position: absolute;
    margin-bottom: 0%;
    display: block;
    overflow: hidden;
}

.Contato-content { 
    display: block;
    height: 300px;
    width: 500px;
    background-color: white;
    margin-top: 100px;
    margin-left: 38%;
    padding: 20px;
}

.form { 
    display: inline;
    margin-bottom: 20px;
    margin-left: 32%;
}

.forml { 
    margin-left: 32%;
    display: block;
}

#AreaMensagem { 
    height: 90px;
    
}
